ENV=DEV
# The POSTGRES_HOST must match the PostGIS container identifier
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=foo
POSTGRES_USER=postgres
POSTGRES_PASSWORD=CHANGEME
# Set the port on your localhost where you want to expose the PG database which
# lives in the docker container, warning: default port 5432 may already be in
# use on your localhost if you have PostgreSQL installed:
DB_HOST_PORT=CHANGEME
